/**
 * imageselect.less
 *
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */

@black: #000000;
@white: #ffffff;

.olz-field.imageselect {
    .group {
        font-size: 0;
    }

    label {
        display: block;
        font-size: 13px;
        margin-bottom: 5px;
        position: relative;
        width: 100%;

        img {
            display: block;
            height: auto;
            max-width: 100%;
        }

        span {
            background-color: @white;
            bottom: 0;
            color: @black;
            left: 0;
            padding: 2px 7px 1px;
            position: absolute;
            z-index: 2;
        }
    }


    .group.col-50 label {
        display: inline-block;
        vertical-align: bottom;
        width: 50%;
    }
}
